#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# LoginRewards configuration
########################################
#
#    LoginRewards.Enable
#        Description: Enable LoginRewards for the players
#        Default:     0 - Disabled
#                     1 - Enabled
#

LoginRewards = 1

MaxRewards = 30